@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Playfair+Display:wght@500&display=swap');

:root {
  --bg-color: rgb(241, 241, 216);
  --btn-color: #4977ea;
  --grey-text: #525252;
}

body {
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif;

}

.container {
  margin: 40px 80px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 1em;
}

ul {
  display: flex;
  list-style: none;
  gap: 1em;
}

a {
  text-decoration: none;
  color: black;
}


.btn-hiring {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 5px 10px;
  background: linear-gradient(90deg, rgba(234,172,83,1) 0%, rgba(234,123,102,1) 35%, rgba(234,88,114,1) 92%, rgba(234,88,114,1) 99%, rgba(234,88,114,1) 100%);
}

.btn-join {
  background-color: var(--btn-color);
  cursor: pointer;
  color: white;
  padding: 1em;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

main {
  display: flex;
  margin-top: 4em;
}

main .left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 450px; 
  justify-content: center;
}

h2 {
  font-family: "Playfair";
  font-size: 3rem;

}

main .left .unsubscribe-note {
  display: flex;
  gap:1em;
}

main .right {
  width: 400px;

  margin-left: 6em;
}

main .right img {
  width: 80%;
}

.right{
  position: relative;
 
}

.right .blue, .right .pink, .right .purple, .right .model {
  position: absolute;
}

.right .blue {
  z-index: 1;
  transform: rotate(-45deg);
}

.right .pink {
  z-index: 2;
  transform: rotate(-35deg);
}

.right .purple {
  z-index: 3;
  transform: rotate(-20deg);
}

.right .model {
  z-index: 4;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0;
}

footer ul {
  padding: 0;
}
footer .any-questions {
  display: flex;
}

